.calendar {
	button {
		&[data-selected] {
		}

		&[data-today] {
			@apply bg-gray-300;
			color: white !important;
		}
	}
}

// .btn-primary {
// 	background-color: var(--color-primary) !important;
// }

.date-picker *,
.time-picker * {
	font-family: 'Commissioner', sans-serif;
}

.date-picker {
	.date-picker-header__value {
		button {
			font-weight: 500 !important;
		}
	}

	.date-picker-header {
		.lucide {
			width: 18px;
			height: 18px;
		}
		> .button {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}
}

.time-picker {
	.time-picker-clock__item {
		font-size: 14px !important;
	}
}
[data-reka-popper-content-wrapper]:focus {
	// @apply bg-gray-100 !important;
	background-color: #f3f4f6 !important;
	background: #f3f4f6 !important;
}

.vue-star-rating {
	line-height: 1;
}
